<!DOCTYPE HTML>
<html>
<% include ../main/top.ejs %>
<body style="background: #fff !important;">
<style>
    .control-group input{
        display: inline-block;
        width: 56%;
    }
    .form-horizontal .form-actions{
        background-color: #fff;
        border-top: 1px solid #fff;
        display: table;
        margin: 0 auto;
        padding: 0;
    }
    .TreeNode{
        margin-left: 20px;
    }
    .form-horizontal .form-actions button{
        margin-right: 10px;
    }
</style>
    <div class="borrow_tab">
        <div class="pd-20" style="padding:20px 0 0 20px;">
            <form class="form form-horizontal" id="form" style="padding-top: 20px;">
                <input type="hidden" name="id" value="<%=(role &&role.id) ? role.id : '' %>"/>
                <div class="control-group">
                    <label class="control-label"><span class="required"><font><font>*</font></font></span><font><font>角色名称：</font></font></label>
                    <div class="control">
                        <input type="text" class="span4 wrap" id="Name" placeholder="请输入角色名称" datatype="s1-6" nullmsg="请输入角色名称" errormsg="请输入角色名称" name="name" value="<%=(role &&role.name) ? role.name : ''%>"/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label"><span class="required"><font><font>*</font></font></span><font><font>启用：</font></font></label>
                    <div class="">
                        <select class="select" name="status">
                            <option value="1" <%= role && role.status == 1 ? 'selected=selected' : '' %>>是</option>
                            <option value="0" <%= role && role.status == 0 ? 'selected=selected' : '' %>>否</option>
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label"><span class="required"><font><font></font></font></span><font><font>备注：</font></font></label>
                    <div class="control">
                        <input type="text" class="span4 wrap" id="remark" placeholder="请输入备注" nullmsg="请输入备注" errormsg="请输入备注" name="remark" value="<%=(role &&role.remark) ? role.remark : ''%>"/>
                    </div>
                </div>
                <div style="width:50%;margin:0 auto;">
                   <pre>
                        <div id=Tc></div>
                   </pre>
                </div>
                <div class="form-actions">
                    <button id="sub" class="btn blue" type="button">通过</button>
                    <button class="btn" onClick="layer_close();" type="button">取消</button>
                </div>
            </form>
        </div>
    </div>
</body>

<script>
    function htmlToText()
    {
        ho=document.getElementById('TreeView');
        to=document.getElementById('TreeView_text');
        to.value=ho.innerHTML;
    }
    var rows = new Object;
    var rowsPidIndex = new Object;
    rows={
        '1' : {'id':'1', 'pid':'0', 'title':'权限管理' },
        '2' : {'id':'2', 'pid':'0', 'title':'系统用户管理' },
        '3' : {'id':'3', 'pid':'1', 'title':'权限菜单1' },
        '4' : {'id':'4', 'pid':'2', 'title':'系统用户1' },
        '5' : {'id':'5', 'pid':'2', 'title':'系统用户2' }
    };
    rowsPidIndex[0] = new Array('1','2') ;
    rowsPidIndex[1] = new Array('3') ;
    rowsPidIndex[2] = new Array('4','5') ;
</script>

<% include ../main/bottom.ejs %>
<script language=javascript src="/treecheckbox/treeCheckBox.0.2.js" type=text/javascript></script>
<script>
    var ctree = new  treeCheckBox( 'ctree'  , rows , rowsPidIndex );
    ctree.iconPath='/treecheckbox/image/';
    ctree.useCheckBox=true;
    ctree.checkBoxName='menu[]';
    ctree.checkBoxChecked='';
    ctree.toString( Tc );
</script>
<script type="text/javascript">

    $(".form").Validform({
        btnSubmit: '#sub',
        postonce: true,
        tiptype: 4,
        showAllError: true,
        ajaxPost: true,
        beforeSubmit: function (curform) {
            var arr = [];
            $.each($('.TreeNode input[type="checkbox"]'), function (i, item) {
                if ($(item).is(':checked'))
                    arr.push($(item).val())
            })
            $.ajax({
                url: '/manage/saveRole',
                type: 'post',
                data: {model: JSON.stringify($.extend($('#form').serializeJson(),{menuIdStr:arr.join(',')}))},
                success: function (msg) {
                    if (!msg.error) {
                        Huimodal_alert('保存成功', 1000, function () {
                            parent.load();
                            layer_close();
                        });
                    }
                    else {
                        Huimodal_alert(msg.error, 1000, function () {});
                    }
                }
            })
            return false;
        }
    });
</script>
</html>